@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> CSS STANDARDS
----------------------------------------------------------------
1. Place in appropriate section
2. Add new sections to the Table of Contents as needed
3. Order properties consistently inside each declaration i.e. alphabetically or by function 
4. Declaration selectors should each occupy a new line
5. Enter one new line between rules
6. Enter more than one new line between categories 
--------------------------------------------------------------*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
        - Forms
        - Lists
        - Media
        - Tables
        - Typography: Headings, Paragraphs, Blockquotes, Anchors
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        - Buttons
        - Header
        - Navigation 
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Alignment	    
        - Color
        - Size

--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 - SETTINGS
-------------------------------------------------------------- */




/*--------------------------------------------------------------
2.0 - TOOLS
-------------------------------------------------------------- */


/*--------------------------------------------------------------
3.0 - GENERIC
-------------------------------------------------------------- */
* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing:border-box;
	box-sizing: border-box;
}

a {
	display: inline-block;
}

#col {
	width: 800px;
}
.card {
	width: 500px;
}



/*--------------------------------------------------------------
4.0 - ELEMENTS
-------------------------------------------------------------- */

/* -- FORMS -- */
form {
	margin: 0 auto;
	width: 550px;
}

fieldset {
	border: none;
	padding: 0;
}

label {
	width: 550px;
}
.row label {
	width: 250px;
}


/* -- LISTS -- */

/* -- MEDIA -- */
#hero-bg { 
  	background: url("../img/hero.jpg") no-repeat center center scroll; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	padding-bottom: 100px;
}

#about-bg {
 	background: url("../img/about.jpeg") no-repeat center center scroll; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	padding-bottom: 100px;
}

#action-bg {
 	background: url("../img/take-action.jpg") no-repeat center center scroll; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	padding-bottom: 100px;
}


/* -- TABLES -- */
table {
	border-collapse: collapse;
	margin: 100px 0;
}
th {
	text-align: left;
}

td, th {
	width: 150px;
	padding: 10px;
	border-right: 3px solid #bdbdbd;
}


td:nth-child(2), th:nth-child(2) {
	width: 335px;
}


tr:nth-child(even) {
	background-color: #f2f2f2;
}

thead tr, #mission {
	border-bottom: 3px solid #bdbdbd;
}


td:last-child, th:last-child {
	border-right: none;
}

/* -- TYPOGRAPHY -- */

#hero-bg p:first-of-type, #about-bg h1, #action-bg h1 {
	font: 700 90px "montserrat";
	margin-bottom: 40px;
	text-transform: uppercase;
	
}

blockquote span {
	font: 700 90px "eb garamond";
	color: #bdbdbd;
	text-align: center;
}
blockquote {
	font: 25px "source sans-pro";
	color: #1f1f1f;
}
h2, body > div > nav li, th {
	font: 18px "source sans pro";
	color: #BDBDBD;
	text-transform: uppercase;
}

#hero-bg + div, #hero-bg, footer, #about-bg h1, #action-bg h1 {
	text-align: center;
}

q {
	quotes: "“" "”" "‘" "’";
}

q::before {
	content: open-quote;
}

/*--------------------------------------------------------------
5.0 - OBJECTS
-------------------------------------------------------------- */
.wrapper {
	width: 1170px;
	margin: 0 auto;
}

.row {
	overflow: auto;
}

/*--------------------------------------------------------------
6.0 - COMPONENTS
-------------------------------------------------------------- */

header .row div, .card:first-child, body > div nav, #achieve .row div:first-child, .col-1-3, form label {
	float: left;
}

header nav, .card:last-child, #col, #achieve .row div:last-child, .col-1-3:last-child, form .row label:last-child {
	float: right;
}



/* -- BUTTONS -- */


.btn {
	-webkit-border-radius: 40px;
	-ms-border-radius: 40px;
	-o-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	text-decoration: none;
	padding: 10px;
	background: #36B3AC;
	margin: 0 auto;
}

.btn:hover {
	background-color: #000;
}

	
#hero-bg div:last-child p, #about-bg p, .btn, header a, footer a, #about-bg h1, #action-bg h1 {
	color: #fff;
}
a {
	font: normal 600 15px "montserrat";
	text-decoration: none;
	text-transform: uppercase;
}



/* -- HEADER -- */



header .row div {
	width: 200px;
}

/* -- NAVIGATION -- */
header li {
	display: inline-block;
	padding: 10px;
}


header nav li:last-child a {

	-webkit-border-radius: 40px;
	-ms-border-radius: 40px;
	-o-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	text-decoration: none;
	padding: 10px;
	border: 2px solid #fff;
}

header nav li:last-child a:hover {
	background-color: #fff;
	color: #000;
	
}


header nav a:hover {
	color: #000;
}

/* -- FOOTER -- */
body>footer a:hover {
	color: #36b3ac;
}
body>footer {
	font: 400 15px 'montserrat';
	padding-top: 10px;
}

body>footer {
	background-color: #36B3AC;
}
body>footer div:last-child {
	background-color: #1F1F1F;
	padding: 10px 0;
}

body>footer span {
	display: none;
}

body>footer li {
	display: inline-block;
	padding: 5px;
	
}

.card p, #conserve p, tr, #achieve li, blockquote>footer{
	font: 400 22px "EB garamond";
}

blockquote>footer {
	color: #bdbdbd;
	text-align: center;
}
#sprites li a {
	width: 25px;
	height: 25px;
}

#sprites li:first-child a {
	background: url("../img/fb.png") no-repeat 0 0;
}

#sprites li:nth-child(2) a {
	background: url("../img/flickr.png") no-repeat 0 0;
}
#sprites li:last-child a {
	background: url("../img/twitter.png") no-repeat 0 0;
}

#sprites li a:hover {
	background-position: 0 -25px;
}




#conserve {
	width: 700px;
	margin: 0 auto;
	
}

#conserve p:last-child {
	font-style: italic;
}

#conserve p:last-child a, body > div > nav p {
	color: #36B3AC;
	font: italic 400 20px "eb garamond";
	text-transform: Capitalize;
}

.card img {
	margin: 20px 0;
}


.card a {
	margin: 0 auto;
}



#achieve ul {
	width: 370px;
}

#achieve {
	border-top: 3px solid #bdbdbd;
}


body > div > nav a {
	color: #1F1f1f;
}

#conserve p:last-child {
	color: #000;
	font: italic 400 20px "eb garamond";
}

#mission p {
	color: #000;
	font: 400 20px "eb garamond";
}
#conserve p:last-child a:hover {
	color: #000;
}
headerp:first-child {
	font: 25px "eb garamond";
}

#hero-bg div:last-child p span {
	font: italic 400 30px "eb garamond";
	text-transform: capitalize;
}

span {
	display:inline-block;
	text-align: center; 
}

.lead {
	font: 400 35px "eb garamond";
}


#achieve li {
	list-style-image: url("../img/tree.jpg")
}

caption {
	display: none;
}

.col-1-3 {
	width: 370px;
	margin-right: 20px;
	text-align: center;
}
.col-1-3 {
	margin-right: 0px;
}

#action-bg + div p {
	text-align: center;
}

#about nav {
	list-style-type: none;
}
/*--------------------------------------------------------------
7.0 - UTILITIES
-------------------------------------------------------------- */


/* -- ALIGNMENT -- */

/* -- COLOR -- */

/* -- SIZE -- */








