@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> CSS STANDARDS
----------------------------------------------------------------
1. Place in appropriate section
2. Add new sections to the Table of Contents as needed
3. Order properties consistently inside each declaration i.e. alphabetically or by function 
4. Declaration selectors should each occupy a new line
5. Enter one new line between rules
6. Enter more than one new line between categories 
--------------------------------------------------------------*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
        - Forms
        - Lists
        - Media
        - Tables
        - Typography: Headings, Paragraphs, Blockquotes, Anchors
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        - Buttons
        - Header
        - Navigation 
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Alignment	    
        - Color
        - Size

--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 - SETTINGS
-------------------------------------------------------------- */




/*--------------------------------------------------------------
2.0 - TOOLS
-------------------------------------------------------------- */


/*--------------------------------------------------------------
3.0 - GENERIC
-------------------------------------------------------------- */
* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing:border-box;
	box-sizing: border-box;
}

a {
	display: inline-block;
}
#hero { 
  	background: url("../img/hero.jpg") no-repeat center center scroll; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	padding-bottom: 100px;
}

#about {
 	background: url("../img/about.jpeg") no-repeat center center scroll; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	padding-bottom: 100px;
}

img {
	 background: url("../img/logo.png")
}

header .row div, .card:first-child, body > div nav {
	float: left;
}
header .row div {
	width: 200px;
}
header nav, .card:last-child, #col {
	float: right;
}

#col {
	width: 800px;
}
.card {
	width: 500px;
}

.card img {
	margin: 20px 0;
}

.card p, #conserve p {
	font: 400 22px "EB garamond";
}

.card a {
	margin: 0 auto;
}


footer a:hover {
	color: #36b3ac;
}
footer {
	font: 400 15px 'montserrat';
}

footer {
	background-color: #36B3AC;
}
footer div:last-child {
	background-color: #1F1F1F;
}
footer span {
	display: none;
}
#sprites li a {
	width: 25px;
	height: 25px;
}

#sprites li:first-child a {
	background: url("../img/fb.png") no-repeat 0 0;
}

#sprites li:nth-child(2) a {
	background: url("../img/flickr.png") no-repeat 0 0;
}
#sprites li:last-child a {
	background: url("../img/twitter.png") no-repeat 0 0;
}

#sprites li a:hover {
	background-position: 0 -25px;
}
/*--------------------------------------------------------------
4.0 - ELEMENTS
-------------------------------------------------------------- */
/* -- FORMS -- */

/* -- LISTS -- */

/* -- MEDIA -- */

/* -- TABLES -- */

/* -- TYPOGRAPHY -- */
#hero p:first-of-type, #about h1 {
	font: 700 90px "montserrat";
	margin-bottom: 40px;
	text-transform: uppercase;
	
}

h2, body > div > nav li {
	font: 18px "source sans pro";
	color: #BDBDBD;
	text-transform: uppercase;
}


/*--------------------------------------------------------------
5.0 - OBJECTS
-------------------------------------------------------------- */
.wrapper {
	width: 1170px;
	margin: 0 auto;
}

.row {
	overflow: auto;
}

/*--------------------------------------------------------------
6.0 - COMPONENTS
-------------------------------------------------------------- */
#hero + div, #hero, footer, #about h1 {
	text-align: center;
}

/* -- BUTTONS -- */


.btn {
	-webkit-border-radius: 40px;
	-ms-border-radius: 40px;
	-o-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	text-decoration: none;
	padding: 10px;
	background: #36B3AC;
	margin: 0 auto;
}

.btn:hover {
	background-color: #000;
}

	
#hero div:last-child p, #about p, .btn, header a, footer a, #about h1 {
	color: #fff;
}
a {
	font: normal 600 15px "montserrat";
	text-decoration: none;
	text-transform: uppercase;
}



/* -- HEADER -- */

header {
	margin: 0 auto;
}



/* -- NAVIGATION -- */
header li {
	display: inline-block;
	padding: 10px;
}


header nav li:last-child a {

	-webkit-border-radius: 40px;
	-ms-border-radius: 40px;
	-o-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	text-decoration: none;
	padding: 10px;
	border: 2px solid #fff;
}

header nav li:last-child a:hover {
	background-color: #fff;
	color: #000;
	
}


header nav a:hover {
	color: #000;
}

#about + div ul {
	list-style-type: none;
	padding: 0px;
}

#conserve {
	width: 700px;
	margin: 0 auto;
	
}

#conserve p:last-child {
	font-style: italic;
}

#conserve p:last-child a, body > div > nav p {
	color: #36B3AC;
	font: italic 400 20px "eb garamond";
	text-transform: Capitalize;
}



body > div > nav a {
	color: #1F1f1f;
}

#conserve p:last-child, #mission p {
	color: #000;
	font: italic 400 20px "eb garamond";
}
#conserve p:last-child a:hover {
	color: #000;
}
headerp:first-child {
	font: 25px "eb garamond";
}

#hero div:last-child p span {
	font: italic 400 30px "eb garamond";
	text-transform: capitalize;
}

.lead {
	font: 400 35px "eb garamond";
}

/*--------------------------------------------------------------
7.0 - UTILITIES
-------------------------------------------------------------- */


/* -- ALIGNMENT -- */

/* -- COLOR -- */

/* -- SIZE -- */








